@import "colors";
@import "animation";

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-padding-top: 72px;
}

body {
	position: relative;
	font-family: "Montserrat", sans-serif;
	background-color: $bg-color;
}

h2 {
	text-align: center;
	text-transform: uppercase;
}

.underline {
	width: 60px;
	height: 4px;
	background-color: $main-color;
	margin: 0 auto 40px;
}

.span-blue {
	color: $main-color;
}

.shadow-bg {
	background-color: rgba(0, 0, 0, 0.8);
}

.navbar {
	text-transform: uppercase;
	z-index: 1;
	transition: color 0.6s;
	a,
	i {
		color: $white;
	}
	a:hover,
	a:focus {
		color: $main-color;
	}
	.fa-bras {
		padding: 10px;
	}
	.navbar-brand {
		font-weight: bold;
	}
	.nav-link.active {
		color: $main-color;
	}
}

header {
	color: $white;

	h1 {
		font-size: 30px;
		text-transform: uppercase;
	}
	p {
		font-size: 14px;
	}

	.header-img {
		position: relative;
		height: 100vh;
		background-image: url(../img/gaming-g9304661a7_640.jpg);
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		z-index: 0;
	}

	.header-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: -10;
	}
	.header-text {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 10px;
		height: 100%;
		z-index: 5;
		text-align: center;
	}

	.btn-outline-light {
		text-transform: uppercase;
	}

	.fa-chevron-down {
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translate(-50%);
		font-size: 36px;
		color: #fff;
	}
}

.aboutus {
	i {
		margin-top: 20px;
		font-size: 30px;
	}
	.aboutus-card-title {
		font-size: 18px;
		text-transform: uppercase;
	}
	.aboutus-card-text {
		font-size: 14px;
	}
	.aboutus-hover:hover {
		color: $main-color;
	}
}

.aboutus-hero {
	position: relative;
	background-image: url(../img/technology-small.jpg);
	background-size: cover;
	background-position: center;
	color: $light-gray;
	z-index: 0;

	.aboutus-shadow {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: -10;
	}

	.aboutus-hero-item {
		margin: 10px 0;

		i {
			font-size: 36px;
		}

		.aboutus-hero-title {
			font-size: 24px;
		}
	}
}

.portfolio {
	.carousel-item {
		position: relative;
		height: 600px;
	}
	.carousel-caption {
		position: absolute;
		left: 0;
		right: 0;
		padding: 40px 0;
		background-color: rgba(0, 0, 0, 0.7);
	}
	.carousel-indicators {
		padding-bottom: 20px;
	}
	.card {
		margin: 10px 20px;
	}
}

.prices {
	.price-box {
		background-color: $white;
		padding: 30px;
		box-shadow: 5px 5px 5px grey;
		margin: 20px 10px;
		transition: transform 0.3s;

		h3 {
			text-transform: uppercase;
			color: $main-color;
		}
		span {
			font-weight: bold;
		}
		i {
			font-size: 24px;
			padding: 0 3px;
		}
		.price-tag {
			font-weight: bold;
			font-size: 30px;
		}
		.btn {
			padding: 10px 20px;
			text-transform: uppercase;
		}
	}
	.price-box:hover {
		transform: scale(1.1);
	}
	.price-info {
		margin-top: 20px;
		text-align: center;

		a {
			text-decoration: none;
		}
	}
}

.team {
	position: relative;
	background-image: url(../img/meeting-room-828547_1920.jpg);
	background-size: cover;
	background-attachment: fixed;
	z-index: 0;

	.team-shadow {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: -10;
	}
	h2 {
		color: $light-gray;
	}

	.card {
		transition: transform 0.3s;
		img {
			height: 300px;
			object-fit: cover;
		}

		i {
			padding: 10px;
		}
		.card-title {
			margin-bottom: 10px;
			text-transform: uppercase;
			text-align: center;
		}
		.card-body {
			height: 160px;
		}
	}

	.card:hover {
		transform: scale(0.96);
	}
}

.achievements {
	.achievements-list {
		padding: 20px 0;

		i {
			padding: 10px;
			font-size: 48px;
			color: $white;
			text-shadow: 0 0 5px #000;
		}
		.achievement-number {
			font-size: 22px;
		}
		.achievement-text {
			font-size: 13px;
			text-transform: uppercase;
		}
	}
}

.contact {
	position: relative;
	background-image: url(../img/skyline-1869214_1920.jpg);
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
	z-index: 0;

	.contact-shadow {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 9, 27, 0.85);
		z-index: -10;
	}

	h2 {
		color: $light-gray;
		font-weight: bold;
	}
	.underline {
		background-color: $light-gray;
	}
	.contact-us {
		display: flex;
		align-items: center;
		.contact-item {
			color: $white;
			margin: 30px 0;
			h3 {
				margin-bottom: 15px;
				text-transform: uppercase;
				letter-spacing: 2px;
			}
			.social-media {
				font-size: 26px;
				a {
					color: $white;
					padding: 10px;
				}

				a:hover {
					color: $light-gray;
				}
			}
		}
	}
}

@media (max-width: 320px) {
	.team {
		.card {
			.card-title {
				margin-bottom: 5px;
			}
			.card-body {
				height: 143px;
			}
		}
	}
}

@media (min-width: 375px) {
	header {
		h1 {
			font-size: 36px;
		}
		p {
			font-size: 16px;
		}
	}
}

@media (min-width: 768px) {
	header {
		h1 {
			font-size: 42px;
		}
		p {
			font-size: 20px;
		}
	}
	.team {
		.card {
			.card-title {
				margin-bottom: 15px;
			}
		}
	}
}

@media (min-width: 992px) {
	.aboutus-hero {
		background-image: url("../img/technology-big.jpg");
	}
	.prices {
		.price-info {
			font-size: 18px;
		}
	}
}

@media (min-width: 1200px) {
	header {
		.header-img {
			background-image: url(../img/gaming-ge27e5d661_1920.jpg);
		}
	}
	.portfolio {
		.carousel-item {
			position: relative;
			height: 600px;

			img {
				position: absolute;
				top: -150px;
			}
		}
	}
}
